[Desktop Entry]
Version=1.0
Type=Application
Name=pdf2htmlEX
Comment=pdf2htmlEX
Exec=/usr/local/bin/pdf2htmlEX
Icon=/usr/local/share/pdf2htmlEX/pdf2htmlEX-64x64
Categories=Office;
Terminal=false
StartupNotify=false
X-AppImage-Version=try1
